p {color:black;font-size:14px;padding-right:10px;}

[top30] {margin-top:30px;}

/*#save_pal {background:#0073aa;color:white;cursor:pointer;padding:5px;}*/
#save_pal.saving {background:green;color:white;}

#codec_disconnect {cursor:pointer;}

.codec_button {
	font-family: "Roboto", "Oxygen-Sans", sans-serif;
}
#wpbody-content, #wpcontent{
	background: #fff;

}